.staff-crud-form{
    text-align: left;
    margin: 0;
}

label{
    display: inline-block;
    clear: left;
    width: 250px;
    text-align: left;
}
input {
  display: inline-block;
}

.staff-crud-form button {
    position: relative;
    top: -10rem;
    right: -50rem;;
}