.staff-crud-form{
    text-align: left;
}
.add-view-form{
    height: 10vh;
    width: 20%;
}
fieldset{
    background-color:whitesmoke;
}

label{
    display: inline-block;
    clear: left;
    width: 250px;
    text-align: left;
}
