li {
    list-style: none;
}
.library-information-items {
    border: 1px solid black;
    text-align: left;
    padding: 1rem;
}
.library-information {
    width: 40%;
    padding: 1rem;
    position: absolute;
    top:0;
    right:0;
}