body{
  text-align: center;
  padding:0 10rem;
}
.main {
  height: 100vh;
}
a {
  text-decoration: none;
}

nav {
display: inline-block;
/* width: 100%; */

}
h1  {
  color: rgb(78, 78, 134);
  font-size: 3rem;
}
nav .libraryinformation {
  padding: 2rem;
}

.outputarea{
margin: 1rem;
padding: 2rem;
text-align:center;
}

.searchbar {
  padding: 1rem;
  margin: 2rem;
}