body{
  width: 70vw;
  height: 100vh;
  text-align: center;
  padding:0 10rem;
}
.main {
  min-height: 100vh;
}
a {
  text-decoration: none;
}

nav {
display: inline-block;
width: 100%;

}
h1  {
  color: rgb(78, 78, 134);
  font-size: 3rem;
}
nav .libraryinformation {
  padding: 2rem;
}

.outputarea{
margin: 5rem;
padding: 2rem;
text-align:center;
background-color:whitesmoke;
min-height: 10rem;
}

.searchbar {
  background-color:whitesmoke;
  padding: 1rem;
  margin: 2rem;
}